<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	colors="true">
	<testsuites>
		<testsuite name="job-listing-tracker">
			<file>tests/Test_Company_Entries.php</file>
			<file>tests/Test_Position_Entries.php</file>
			<file>tests/Test_Lifecycle.php</file>
		</testsuite>
	</testsuites>
</phpunit>
